<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BANCO VBANK </title>
    <link rel="shortcut icon" href="img/lbanco.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/paginainiciocss.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
</head>

<body>
    <header>
        <nav>
            <a href="/Pagina de Inicio/index.html">Inicio</a>
            <a href="">Acerca de</a>
            <a href="#">Necesidades</a>
            <a href="#">Productos</a>
            <a href="#">Servicios</a>
            <a href="login">Iniciar Sesion</a>
        </nav>
        <section class="textos-header">
            <h1>VBANK - Banco Virtual</h1>
            <h2>En busca de un mejor futuro</h2>
        </section>
        <div class="wave" style="height: 250px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">Acerca de Nosotros</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="img/acercadenosotros.jpg" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3><span>1</span>#ParaUnMejorFuturo</h3>
                    <p>Generamos un impacto positivo en la sociedad, transformando la vida de las personas que hacen 
                        parte de los diferentes programas y esquemas que apoyamos en nuestra organización..</p>
                    <h3><span>2</span>Negocios especializados y entidades del exterior</h3>
                    <p>Para atender todas tus necesidades sin importar donde te encuentres, en el Grupo BMAM contamos 
                        con diferentes negocios especializados y con nuestras entidades del exterior.</p>
                    <h3><span>3</span>Banca de Inversión</h3>
                    <p>Experiencia y altos estándares <br>
                        En Banca de Inversión BMAM construimos relaciones de largo plazo con nuestros clientes 
                        basadas en altos estándares de confianza, confidencialidad y cercanía, acompañándolos en momentos 
                        decisivos de su trayectoria..</p>
                </div>
            </div>
        </section>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">Nosotros</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="img/img1.jpg" alt="">
                        <div class="hover-galeria">
                            <p>BANCO BMAM</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/img2.jpg" alt="">
                        <div class="hover-galeria">
                            <p>BANCO BMAM</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/img3.jpg" alt="">
                        <div class="hover-galeria">
                            <p>BANCO BMAM</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/img1.jpg" alt="">
                        <div class="hover-galeria">
                            <p>BANCO BMAM</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/img4.jpg" alt="">
                        <div class="hover-galeria">
                            <p>BANCO BMAM</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/img5.jpg" alt="">
                        <div class="hover-galeria">
                            <p>BANCO BMAM</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/img6.jpg" alt="">
                        <div class="hover-galeria">
                            <p>BANCO BMAM</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/img7.jpg" alt="">
                        <div class="hover-galeria">
                            <p>BANCO BMAM</p>
                        </div>
                    </div>
                </div>
                <div class="contenido-textos">
                    <h3><span>4</span>Misión</h3>
                    <p>Somos el mejor aliado de los clientes en la satisfacción de sus necesidades financieras. Proveemos una amplia gama de productos y servicios con innovación, 
                        eficiencia y amabilidad, y generamos valor a nuestros clientes, colaboradores, accionistas y a la comunidad.</p>
                    <h3><span>5</span>Visión</h3>
                    <p>Para atender todas tus necesidades sin importar donde te encuentres, en el Grupo BMAM contamos 
                        con diferentes negocios especializados y con nuestras entidades del exterior.</p>
                    <h3><span>6</span>Valores</h3>
                    <p>• Integridad: actuamos dentro de los más rigurosos principios éticos y legales. <br>

                        • Transparencia: actuamos de manera clara, consistente y oportuna. <br>
                        
                        • Respeto por las personas: damos un trato digno a las personas y valoramos sus diferencias. <br>
                        
                        • Responsabilidad social: somos un factor de desarrollo de las comunidades en donde estamos presentes. <br>
                        
                        • Actitud de servicio: somos amables, oportunos y eficaces en la prestación de nuestros servicios. <br>
                        
                        • Trabajo en equipo: valoramos y fomentamos el aporte de las personas para el logro de los objetivos comunes. <br>
                        
                        • Alto desempeño: superamos continuamente nuestras metas y optimizamos el uso de recursos, para crear valor. <br>
                        
                        • Orientación al cliente: construimos relaciones de largo plazo con nuestros clientes, que son nuestra razón de ser. <br>
                        
                        • Actitud positiva: disfrutamos de lo que hacemos y estamos en una búsqueda permanente de posibilidades. <br>
                        
                        • Confianza: generamos credibilidad y manejamos responsablemente la información.</p>
                </div>
            </div>
            <section class="contenedor sobre-nosotros">
                <h2 class="titulo">Necesidades</h2>
                <div class="contenedor-sobre-nosotros">
                    <img src="img/necesidades.jpg" alt="" class="imagen-about-us">
                    <div class="contenido-textos">
                        <h3><span>7</span>Ahorro versus Inversión</h3>
                        <p>Los jóvenes profesionales consideran que los capitales necesarios para invertir son demasiado altos 
                        y prefieren ahorrar en cuentas de ahorro online para cumplir un propósito específico. Por otra parte, 
                        piensan que la inversión requiere asesoría financiera, la que les parece cara, demasiado presencial y poco objetiva.</p>
                        <h3><span>8</span>Redes sociales bancarias</h3>
                        <p>La mayoría de los jóvenes no usa ni se ve usando las redes sociales para realizar transacciones diarias en futuro. Sin embargo, 
                            las redes sociales juegan un rol fundamental en la relación con el cliente.</p>
                        <h3><span>9</span>Fidelidad bancaria: un desafío</h3>
                        <p>Los jóvenes profesionales están comenzando a mantener productos financieros en varios bancos, según las comisiones, facilidad de 
                            apertura/cierre y beneficios que ofrezcan. Además, han aparecido una serie de fintech startups que podrían convertirse 
                            en una amenaza a los bancos tradicionales si logran fidelizar mejor a sus clientes.</p>
                    </div>
                </div>
            </section>
            <section class="contenedor sobre-nosotros">
                <h2 class="titulo">Productos</h2>
                <div class="contenedor-sobre-nosotros">
                    <img src="img/productos.jpg" alt="" class="imagen-about-us">
                    <div class="contenido-textos">
                        <h3><span>7</span>Tarjetas de creditos</h3>
                        <p>Es el momento de elegir la tuya. Te ofrecemos tarjetas con beneficios 
                            que se adaptan a todas las necesidades, personalidades y estilos de vida.</p>
                        <h3><span>8</span>Prestamos</h3>
                        <p>Es el momento de lograr tus sueños. Opciones ideales para esos proyectos o 
                            ideas que necesitan apoyo financiero.</p>
                        <h3><span>9</span>Cuentas de ahorro</h3>
                        <p>Con nuestro amplio portafolio de Cuentas de Ahorro, puedes manejar tus recursos de forma fácil, eficiente y segura. 
                            Además, recibe la Tarjeta Débito BMAM para que realices tus compras en establecimientos de comercio sin costo adicional.</p>
                    </div>
                </div>
            </section>
            
        </section>
        
        <section class="about-services">
            <div class="contenedor">
                <h2 class="titulo">Nuestros servicios</h2>
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="img/servicio-de-atención-al-cliente.jpg" alt="">
                        <h3>Atencion al cliente 24Hrs</h3>
                        <p>En BMAM disponemos de diversos canales para que puedas comunicarte con nosotros de manera directa, 
                            clara y sencilla.</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="img/sucursales-virtuales-cobis.jpg" alt="">
                        <h3>Sucursal Virtual Personas</h3>
                        <p>Todos los días de la semana podrás realizar pagos, transferencias, consultas y conocer nuestros productos 
                            y servicios, de una manera fácil y segura. Solo necesitas un computador con conexión a Internet y 
                            lo tendrás todo a tu alcance. A toda hora y en todo momento, ¡la Sucursal Virtual Personas está disponible
                            para ti.</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="img/dondeestaes.jpg" alt="">
                        <h3>Estamos a tu alcance estés donde estés</h3>
                        <p>Accede a la Sucursal Virtual Personas desde donde quieras, y realiza tus pagos, 
                            transferencias y consultas financieras sin moverte de tu casa u oficina.  </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Direccion</h4>
                <p>Carrera 10 # 15 A - Bogota</p>
            </div>
            <div class="content-foo">
                <h4>Telefono</h4>
                <p>018000912673</p>
            </div>
            <div class="content-foo">
                <h4>Correo</h4>
                <p>Bancomam@gmail.com</p>
            </div>
        </div>
        <h2 class="titulo-final"> BMAM - Banco Mosquera a la Mano</h2>
    </footer>
</body>

</html>